name: gpu_release

on:
  push:
    tags:
      - "v*.*.*"

env:
  libtorch_version: 2.9.0

jobs:
  release_linux:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        cuda: [12.6.0, 12.8.0, 13.0.0]
        include:
          - os: ubuntu-22.04
            oname: glibc232
          - cuda: 12.6.0
            cname: cu126
          - cuda: 12.8.0
            cname: cu128
          - cuda: 13.0.0
            cname: cu130
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: setup cuda
        uses: Jimver/cuda-toolkit@v0.2.29
        with:
            cuda: ${{ matrix.cuda }}
            method: network

      - name: make
        working-directory: ./lib
        run: |
          sudo apt-get clean
          sudo apt-get install -y cmake
          wget -q -O libtorch.zip https://download.pytorch.org/libtorch/${{ matrix.cname }}/libtorch-shared-with-deps-${{ env.libtorch_version }}%2B${{ matrix.cname }}.zip
          unzip -qq libtorch.zip
          export TORCH_CUDA_ARCH_LIST="5.0 8.0 8.6 8.9 9.0"
          cmake -DCMAKE_PREFIX_PATH=./libtorch -DCMAKE_BUILD_TYPE=Release .
          make -j
          mv libgotorch.so libgotorch_gpu.${{ matrix.cname }}.${{ matrix.oname }}.so

      - name: upload
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./lib/libgotorch_gpu.${{ matrix.cname }}.${{ matrix.oname }}.so
          allowUpdates: true
          generateReleaseNotes: true
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          omitBody: true